.mainfield {
    display: flex;
    justify-content: center;
    background-image: url('^assets/img/backgroundimage/background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.card-stack {
    position: relative;
    right: 30%;
    img {
        position: absolute;
        bottom: 15px;
    }
}