<div class="card-area">
  @if (loadError()) {
    <div class="player-hand-error">{{ loadError() }}</div>
  }

  @if (isSoloEventActive()) {
    <button class="solo-event-button" (click)="resolveSoloEvent()">Event ausführen</button>
  }

  <div class="card-stack">
    @for (c of [0,1,2,3]; track c; let i = $index) {
      <img [ngStyle]="{'left.px': i * 5}"
        src="./assets/img/cards/monster.png">
      }
    </div>

    <div class="currentHandStack">
      @for (card of currentHand() ; track card) {
        <div class="hand-card">
          <img (click)="chooseCard(card)" src="./assets/img/cards/{{card}}.png">
          @if (isSingleplayer()) {
            <button class="rest-button" (click)="restCard(card)">Rasten</button>
          }
        </div>
        }
      </div>

      <app-heropower-container (heropowerResolved)="onHeropowerResolved($event)"></app-heropower-container>
    </div>
