<div class="dialog">
    <h1 mat-dialog-title>Spieleinstellungen</h1>
    <div mat-dialog-content>
      Spieleranzahl
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Anzahl der Spieler</mat-label>
      <input id="playerNumber" type="number" matInput placeholder="Gib hier eine Zahl zwischen 1 und 5 ein." [formControl]="playerValidation" required>
      <mat-error *ngIf="playerValidation.invalid">Gib eine Zahl ein.</mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close cdkFocusInitial (click)="getPlayerNumber()">Ok</button>
    </div>
</div>

