<div class="heropower-position">

    <mat-card [ngClass]="{'color-effect': this.heropowerActivated}">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <span style="color: white;">{{ this.heropower }}</span>
            <img *ngIf="this.heroName == 'Gladiator'" (click)="heroPowerGladiator()" src="../../../assets/img/icons/person_icon.png">
            <img *ngIf="this.heroName == 'Barbar'" (click)="heroPowerBarbar()" src="../../../assets/img/icons/monster_icon.png">
            <img *ngIf="this.heroName == 'Zauberin'" (click)="heroPowerZauberin()" src="../../../assets/img/icons/hindernis_icon.png">
            <img *ngIf="this.heroName == 'Magier'" (click)="heroPowerMagier()" src="../../../assets/img/icons/heilkräuter_icon.png">
            <img *ngIf="this.heroName == 'Jägerin'" (click)="heroPowerJaegerin()" src="../../../assets/img/icons/heiltrank_icon.png">
            <img *ngIf="this.heroName == 'Waldläufer'" (click)="heroPowerWaldlaeufer()" src="../../../assets/img/icons/person_icon.png">
            <img *ngIf="this.heroName == 'Dieb'" (click)="heroPowerDieb()" src="../../../assets/img/icons/stehlen_icon.png">
            <img *ngIf="this.heroName == 'Ninja'" (click)="heroPowerNinja()" src="../../../assets/img/icons/hindernis_icon.png">
            <img *ngIf="this.heroName == 'Paladin'" (click)="heroPowerPaladin()" src="../../../assets/img/icons/monster_icon.png">
            <img *ngIf="this.heroName == 'Walküre'" (click)="heroPowerWalkuere()" src="../../../assets/img/icons/heilig_icon.png">
        </div>
        <span style="color: white;">{{this.description}}</span>
    </mat-card>

</div>

<!--Angular Material Tooltip einbauen-->
